{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<span class="cat-links"><i class="icon-cat-links"></i></span>&nbsp;
<span class="categories">
  {% if post %}
    {{ post.categories | category_links }}
<!--<a rel="category" title="" href="#">Uncategorized</a>-->
  {% else %}
    {{ page.categories | category_links }}
<!--<a rel="category" title="" href="#">Uncategorized</a>-->
  {% endif %}
</span>
{% endunless %}
