    <div class="row">
      <div class="col-md-12">
        <div id="footer">
          <div class="row">
            <div class="col-md-6">

              <div class="copyright">
                Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
                <span class="credit">Powered by <a href="http://octopress.org" target="_blank">Octopress</a></span>,
                <span class="credit">customized with OctoLegion</span>.
              </div>

            </div>
            <div class="col-md-6">
              <ul class="ul_social">
                <li><a title="Facebook" class="a_social_facebook" href="#"><i class="social_facebook"></i></a></li>
                <li><a title="Twitter" class="a_social_twitter" href="#"><i class="social_twitter"></i></a></li>
                <li><a title="Youtube" class="a_social_youtube" href="#"><i class="social_youtube"></i></a></li>
                <li><a title="Vimeo" class="a_social_vimeo" href="#"><i class="social_vimeo"></i></a></li>
                <li><a title="Skype" class="a_social_skype" href="#"><i class="social_skype"></i></a></li>
                <li><a title="RSS" class="a_social_rss" href="#"><i class="social_rss"></i></a></li>
                <li><a title="Dribble" class="a_social_dribble" href="#"><i class="social_dribble"></i></a></li>
                <li><a title="Gmail" class="a_social_gmail" href="#"><i class="social_gmail"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
